* {
    margin:0;
    padding:0;
    font-family: "Roboto";
}

.header {
    display: flex;
    align-items: center;
    padding: 10px 200px;
    background-color: #1F2937;
    /* max-width: 400px; */
}

.logo {
    margin-right:auto;
    font-size: 24px;
    color: #F9FAF8
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding:200px;
    background-color: #1F2937;
    align-items:center;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}


img {
    max-width: 100%;
    width: 520px;
    height:250px;
}

button {
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    width:150px;
}

h1,
p{
    max-width: 400px;
}

.information-items {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom:50px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.information-image {
    width:200px;
    height:200px;
    border: solid blue;
}

.text {
    max-width:200px;
    font-size: 20px;
    color: gray;
    text-align: center;
}