* {
    margin:0;
    padding:0
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 200px;
    background-color: #1F2937;
}

.logo {
    margin-right:auto;
    font-family: "Roboto";
    font-size: 24px;
    color: #F9FAF8
}

ul {
    display: flex;
    gap: 20px;
    margin:0;
    padding:0;
    list-style: none;
    font-family: "Roboto";

}

a {
    color: #F9FAF8;
    text-decoration: none;
}